<!-- show_csv.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Hasil CSV</title>
</head>
<body>
    <h2>Data dari file CSV</h2>
    <table border="1">
        {% for row in csv_data %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('send_to_mysql', filename=csv_filename) }}" method="post">
        <button type="submit">Kirim ke MySQL</button>
    </form>
</body>
</html>